<style>
    body {
            background-color: #63a4ff;
            background-image: radial-gradient(circle, #6a93cb 0%, #a4bfef 74%);
            /* background-image: radial-gradient(circle, #63a4ff 0%, #83eaf1 74%); */
            color: yellow;
            font-family: Helvetica;
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            flex-direction: column;
        }

        .flight_number_form {
            margin: 50px;
            text-align:center;
        }
        
        .flight_number_form label {
            font-size: 32px;
            display: block;
            margin-bottom: 5px;
        }

        .flight_number_form input {
            font-size: 24px;
            border:none;
            padding: 5px;
            border-radius: 5px;
        }

        .flight_number_form input[type=submit] {
            background: rgb(25, 87, 211);
            color: #fff;
            font-size: 24px;
            margin: 5px auto;
            font-weight: bold;
            padding: 15px 30px;
        }

        .flight {
            background: #fff;
            border: 1px #eee solid;
            border-radius: 10px;
            padding: 10px;
            display: flex;
        }

        .flight div {
            padding:10px;
            border-left: 1px #ccc solid;
        }

        .flight div:first-child {
            border-left: none;
        }

        #flight h3 {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0;
            color: #111;
            padding: 0;
        }

        #flight p {
            font-size: 18px;
            margin: 0 0 10px 0;
            color: #444;
            padding: 0px
        }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .userTable{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .todoList {
        display: flex;
        flex-direction: row;
    }
    .registerForm {
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        justify-content: center;

    }
    input {
        text-align: center;
    }
    .formBtn {
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>