<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Info</title>
</head>
<body>
    ${styles}
    ${bootstrap}
    <h1>myTravelDay</h1>
    <br>
    <br>
    <h3>Flight Information</h3>
    <form action="/addflightinfo" method="POST" class="flight_number_form">
        <input type="text" name="flightNumber" placeholder="Enter Flight Number"><br><br>
        <button type="submit">Add</button>
    </form>

    <div class="pathForm">
    Don't need to add a flight?
    <form method="GET" action="/getusertodos" class="pathForm">
        <button type="submit" name="submitBtnLink" class="link-button">
        Click here!
        </button>
    </form>
    </div>
</body>
</html>