<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
  ${styles}
  ${bootstrap}
    <h1>myTravelDay</h1>
    <h3>Please Login:</h3>
    ${error ? `${error}`: ''}
    <form action="/login" method="POST" id="login">
      <div>
        <input type="username" name="username" id="username" required placeholder="Username">
      </div>
      <div>
        <input type="password" name="password" id="password" required placeholder="Password">
      </div>
      <button class="formBtn" type="submit">Login</button>
    </form>
    Need an account?
    <form method="GET" action="/register" class="inline">
      <button type="submit" name="submitBtnLink" class="link-button">
        Sign up here!
      </button>
</body>

<style>

</style>
</html>