<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
  ${styles}
  ${bootstrap}
    <h1>myTravelDay</h1>
    <h3>Please Register:</h3>
    <form action="/register" method="POST" class="registerForm">
        <div>
          <input type="username" name="username" id="username" required placeholder="Insert Username">
        </div>
        <div>
          <input type="password" name="password" id="password" required placeholder="Password">
        </div>
        <button class="formBtn" type="submit">Register</button>
      </form>
  Already have an account? 
  <form method="GET" action="/login" class="newAccountForm">
    <button type="submit" name="submitBtnLink" class="link-button">
      Sign in here!
    </button>
  </form>
</body>
</html>