<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>myTravelDay</h1>
        <form method="GET" action="/login" class="inline">
            <button type="submit" name="submitBtnLink" class="link-button">
              Logout
            </button>
    </div>
    <h1>Welcome back, ${username}!</h1> 
    <div class="userTable">
        <div>My ToDo List:</div>
        <div>${data.map(tasks => {
            return `<li>${tasks.todo}</li>`
            }).join('')}
        </div>
    </div>
    <form class="newTask" action="/inserttask" method="POST">
        <input type="text" class="taskValue" placeholder="Type New Task">
        <button type="submit" class="newTaskBtn">Add</button>
    </form>
</body>
<style>
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .userTable{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>
</html>