<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ${styles}
    ${bootstrap}
    <div class="header">
        <h1>myTravelDay</h1>
        <!-- <form method="GET" action="/login" class="inline">
            <button type="submit" name="submitBtnLink" class="link-button">
              Logout
            </button> -->
    </div>
    <h1>Welcome back, ${data[0].username}!</h1> 

    <div class="flight">
        <div>
            <h3>Airline Name:</h3>
            <p>${flight[0].airline}</p>
        </div>
        <div>
            <h3>Departure time:</h3>
            <p>${flight[0].dep_time}</p>
        </div>
        <div>
            <h3>Departure airport:</h3>
            <p>${flight[0].dep_port}</p>
        </div>
        <div>
            <h3>Arrival airport:</h3>
            <p>${flight[0].arr_port}</p>
        </div>
        <div>
            <h3>Arrival gate</h3>
            <p>${flight[0].arr_gate}</p>
        </div>
    </div>




    <div class="userTable">
        <div>My ToDo List:</div>
        <div class="todoList">${data.map(tasks => {
            return `<form action="/deletetask" method="POST">
                        <div class="task"></div>${tasks.todo}
                        <button type="submit" id="deleteBtn">Delete</button>
                    </form>
                    `
            }).join('')}
        </div>
    </div>
    <form action="/inserttask" method="POST">
        <input type="text" name="todo" placeholder="Type New Task">
        <button type="submit">Add</button>
    </form>
</body>
</html>