<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ${styles}
    ${bootstrap}
    ${header}
    <br>
    <div class="container">
    <h1>Welcome back, ${data[0].username}!</h1> 
    <br>
    <div class="flight">
        <div>
            <h3>Airline Name:</h3>
            <p>${flight[0].airline}</p>
        </div>
        <div>
            <h3>Departure time:</h3>
            <p>${flight[0].dep_time}</p>
        </div>
        <div>
            <h3>Departure airport:</h3>
            <p>${flight[0].dep_port}</p>
        </div>
        <div>
            <h3>Arrival airport:</h3>
            <p>${flight[0].arr_port}</p>
        </div>
        <div>
            <h3>Arrival gate</h3>
            <p>${flight[0].arr_gate}</p>
        </div>
    </div>


    <br>
    <div>Things To Do:</div>

    <div class="userTable">
        ${data.filter(data => data.todo !== null).map(tasks => {
            return `<form action="/deletetask/${tasks.id}" method="POST" class="taskForm">
                        <li><label for="task" class="task">${tasks.todo}</label></li>
                        <button type="submit" class="deleteBtn">Delete</button>
                    </form>
                    `
            }).join('')}
    </div>
    ------------------------------------------
    <form action="/inserttask" method="POST" class="newTaskForm">
        <input type="text" class="newTaskSpace" name="todo" placeholder="Type New Task">
        <button type="submit" class="newTaskBtn">Add</button>
    </form>
    </div>
</body>
</html>